[Unit]
Description=IONe Driver Server

[Service]
Type=forking
SyslogIdentifier=ione-driver
User=root
PIDFile=/root/server/whmconnect.rb.pid
WorkingDirectory=/root/server
OOMScoreAdjust=-1000

Environment=RACK_ENV=production

OOMScoreAdjust=-1000
Restart=always

ExecStart=/bin/ruby /root/server/daemon_whm.rb start
ExecReload=/bin/ruby /root/server/daemon_whm.rb restart
ExecStop=/bin/ruby /root/server/daemon_whm.rb stop
TimeoutSec=300

[Install]
WantedBy=multi-user.target 